In [1]:
import os
import json
import requests
import time 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from datetime import datetime

from functions import load_api_key, plotting

pd.set_option('display.max_columns', None)

%load_ext autoreload
%autoreload 2

In [17]:
household_supplies = pd.read_excel('inputs/outputFile.xlsx', sheet_name = 'T1')
household_supplies.columns = household_supplies.iloc[9]
household_supplies = household_supplies.iloc[10:19]
household_supplies = household_supplies.reset_index(drop = True)

In [18]:
HDB_supply = household_supplies.iloc[:5]
private_supply = household_supplies.iloc[6:8]

In [19]:
total_HDB_supply = HDB_supply.sum(axis = 0).to_frame().reset_index().iloc[1:]
total_HDB_supply.columns = ['year', 'total_HDB_supply']
total_HDB_supply.head()

     year total_HDB_supply
1    2023          3322400
2  2022.0        3264100.0
3  2021.0        3252600.0
4  2020.0        3218200.0
5  2019.0        3213800.0

In [20]:
total_private_supply = private_supply.sum(axis = 0).to_frame().reset_index().iloc[1:]
total_private_supply.columns = ['year', 'total_private_supply']
total_private_supply.head()

     year total_private_supply
1    2023               313200
2  2022.0             305700.0
3  2021.0             297600.0
4  2020.0             288500.0
5  2019.0             291000.0

In [21]:
total_HDB_supply['year'] = total_HDB_supply['year'].astype(int)
total_HDB_supply.loc[0, 'year'] = 2024
total_HDB_supply = total_HDB_supply.sort_values('year', ascending = False)
total_HDB_supply['total_HDB_supply_prev_year'] = total_HDB_supply['total_HDB_supply'].shift(-1)

total_private_supply['year'] = total_private_supply['year'].astype(int)
total_private_supply.loc[0, 'year'] = 2024
total_private_supply = total_private_supply.sort_values('year', ascending = False)
total_private_supply['total_private_supply_prev_year'] = total_private_supply['total_private_supply'].shift(-1)

In [22]:
total_HDB_supply

      year total_HDB_supply total_HDB_supply_prev_year
0   2024.0              NaN                    3322400
1   2023.0          3322400                  3264100.0
2   2022.0        3264100.0                  3252600.0
3   2021.0        3252600.0                  3218200.0
4   2020.0        3218200.0                  3213800.0
5   2019.0        3213800.0                  3104700.0
6   2018.0        3104700.0                  3022900.0
7   2017.0        3022900.0                  2986900.0
8   2016.0        2986900.0                  2890900.0
9   2015.0        2890900.0                  2835300.0
10  2014.0        2835300.0                  2801000.0
11  2013.0        2801000.0                  2735400.0
12  2012.0        2735400.0                  2747600.0
13  2011.0        2747600.0                  2737000.0
14  2010.0        2737000.0                  2690500.0
15  2009.0        2690500.0                  2613600.0
16  2008.0        2613600.0                  2579500.0
17  2007.0        2579500.0                  2539600.0
18  2006.0        2539600.0                  2478900.0
19  2005.0        2478900.0                  2428000.0
20  2004.0        2428000.0                  2414600.0
21  2003.0        2414600.0                  2374900.0
22  2002.0        2374900.0                  2318800.0
23  2001.0        2318800.0                  2304000.0
24  2000.0        2304000.0                  2236900.0
25  1999.0        2236900.0                  2155400.0
26  1998.0        2155400.0                  2099700.0
27  1997.0        2099700.0                  2063100.0
28  1996.0        2063100.0                  1988100.0
29  1995.0        1988100.0                  1939500.0
30  1994.0        1939500.0                  1882700.0
31  1993.0        1882700.0                  1834000.0
32  1992.0        1834000.0                  1784400.0
33  1991.0        1784400.0                  1693400.0
34  1990.0        1693400.0                  1692500.0
35  1989.0        1692500.0                  1630500.0
36  1988.0        1630500.0                  1545700.0
37  1987.0        1545700.0                  1491300.0
38  1986.0        1491300.0                  1409500.0
39  1985.0        1409500.0                  1304600.0
40  1984.0        1304600.0                  1215500.0
41  1983.0        1215500.0                    1095200
42  1980.0          1095200                       None

In [23]:
total_HDB_supply = total_HDB_supply.sort_values('year')
total_HDB_supply['percent_change'] = total_HDB_supply['total_HDB_supply'].pct_change() * 100
total_HDB_supply['category'] = 'HDB'

total_private_supply = total_private_supply.sort_values('year')
total_private_supply['percent_change'] = total_private_supply['total_private_supply'].pct_change() * 100
total_private_supply['category'] = 'private'

C:\Users\EGGCAKE\AppData\Local\Temp\ipykernel_3768\3781152507.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  total_HDB_supply['percent_change'] = total_HDB_supply['total_HDB_supply'].pct_change() * 100
C:\Users\EGGCAKE\AppData\Local\Temp\ipykernel_3768\3781152507.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  total_HDB_supply['percent_change'] = total_HDB_supply['total_HDB_supply'].pct_change() * 100
C:\Users\EGGCAKE\AppData\Local\Temp\ipykernel_3768\3781152507.py:6: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  total_private_supply['percent_change'] = total_private_supply['total_private_supply'].pct_change() * 100
C:\Users\EGGCAKE\AppData\Local\Temp\ipykernel_3768\3781152507.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  total_private_supply['percent_change'] = total_private_supply['total_private_supply'].pct_change() * 100

In [25]:
total_supply = pd.concat([total_HDB_supply[['year', 'category', 'percent_change']], total_private_supply[['year', 'category', 'percent_change']]])

In [ ]:
df = total_supply.loc[total_supply['year'].between(2022,2024)]
plotting('Unit supply growth in each sector', 'barplot', df, 'category', 'percent_change', 'year')

In [ ]:
rental_data_df = pd.read_csv('inputs/rental_with_coordinates.csv')
rental_data_df = rental_data_df.merge(total_HDB_supply, on = 'year', how = 'left')
rental_data_df = rental_data_df.merge(total_private_supply, on = 'year', how = 'left')
rental_data_df.head()

In [9]:
total_rents_df = rental_data_df.groupby('year').size().reset_index()
total_rents_df = total_rents_df.rename(columns = {0 : 'count_of_rents'})
total_rents_df = total_rents_df.merge(total_HDB_supply, on = 'year', how = 'left')
total_rents_df = total_rents_df.merge(total_private_supply, on = 'year', how = 'left')
total_rents_df['HDB_rent_supply_ratio'] = total_rents_df['count_of_rents'] / total_rents_df['total_HDB_supply']
total_rents_df['private_rent_supply_ratio'] = total_rents_df['count_of_rents'] / total_rents_df['total_private_supply']
total_rents_df['HDB_rent_prev_supply_ratio'] = total_rents_df['count_of_rents'] / total_rents_df['total_HDB_supply_prev_year']
total_rents_df['private_rent_prev_supply_ratio'] = total_rents_df['count_of_rents'] / total_rents_df['total_private_supply_prev_year']
total_rents_df

,year,count_of_rents,total_HDB_supply,total_HDB_supply_prev_year,total_private_supply,total_private_supply_prev_year,HDB_rent_supply_ratio,private_rent_supply_ratio,HDB_rent_prev_supply_ratio,private_rent_prev_supply_ratio
0,2021,38882,3252600.0,3218200.0,297600.0,288500.0,0.011954,0.130652,0.012082,0.134773
1,2022,33612,3264100.0,3252600.0,305700.0,297600.0,0.010297,0.109951,0.010334,0.112944
2,2023,36854,3322400,3264100.0,313200,305700.0,0.011093,0.117669,0.011291,0.120556
3,2024,33478,NaN,3322400,NaN,313200,NaN,NaN,0.010076,0.10689